{% extends 'base.html' %}
{% set title  = 'Users' %}
{% block content  %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>feedbacks</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{'admin' if user.is_admin else 'regular'}}</td>
        <td>{{user.feedbacks | length}}</td>
        <td>
          <form action="/admin/users/{{user.username}}/delete" method="POST">
            <button type="submit" class="btn btn-outline-danger">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
{% endblock %}